<wtf2-page-skeleton simple fullwidth>
    <!-- CENTER -->
    <!-- CONTENT HEADER -->
    <div class="center page-skeleton-wrapper">
        <wtf2-page-header>
            <wtf2-header-title> Draggable Grid Demo</wtf2-header-title>
            <wtf2-header-subtitle> Draggable Grid Demo Example</wtf2-header-subtitle>
        </wtf2-page-header>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div wtf2Class="container-fluid ">

            <!-- CONTENT -->

            <wtf2-page-content wtf2Class="content">
                <wtf2-draggable-grid [displayedColumns]="displayedColumns" [tabledata]="tabledata" [columnConfig]="columnConfig"></wtf2-draggable-grid>
            </wtf2-page-content>
        </div>
    </div>
</wtf2-page-skeleton>
