<wtf2-page-skeleton carded fullwidth>

    <!-- TOP BACKGROUND -->

    <!--   -->
    <!-- / TOP BACKGROUND -->
    <!-- SIDEBAR -->

    <!-- / SIDEBAR -->

    <!-- CENTER -->

        <!-- CONTENT HEADER -->
        <wtf2-page-header>
            <wtf2-header-title class=" "> Currency </wtf2-header-title>
            <wtf2-header-subtitle> Currency Example</wtf2-header-subtitle>
        </wtf2-page-header>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->

        <!-- CONTENT TOOLBAR -->
        <!-- <div class="toolbar px-24 py-8">
                <span>Currency </span>
            </div> -->
        <!-- / CONTENT TOOLBAR -->

        <!-- CONTENT -->
        <wtf2-page-content class="content">
            <div class="row m-2" page-content-carded>
                <h3>Currency </h3>
                <div class="col col-12 m-2">
                    <h1>
                        <wtf2-price-format currencyAmount="59.99" currencyCode="INR"></wtf2-price-format>
                    </h1>
                </div>
                <div class="col col-12 m-2">
                    <h2>
                        <wtf2-price-format currencyAmount="10000.54" currencyCode="USD"></wtf2-price-format>
                    </h2>
                </div>
                <div class="col col-12 m-2">
                    <h3>
                        <wtf2-price-format currencyAmount="2000.85" currencyCode="CAD"></wtf2-price-format>
                    </h3>
                </div>
                <div class="col col-12 m-2">
                    <h4>
                        <wtf2-price-format currencyAmount="30000.90" currencySymbol="S$"></wtf2-price-format>
                    </h4>
                </div>
                <div class="col col-12 m-2">
                    <h5>
                        <wtf2-price-format currencyAmount="400000.99" currencySymbol="S$"></wtf2-price-format>
                    </h5>
                </div>
                <div class="col col-12 m-2">
                    <h6>
                        <wtf2-price-format currencyAmount="55555.89" currencySymbol="S$"></wtf2-price-format>
                    </h6>
                </div>
                <div class="col col-12 m-2">
                    <p [style.font-weight]="'bold'">
                        <wtf2-price-format currencyAmount="55555.89" currencyCode="&#36;" bold></wtf2-price-format>
                    </p>
                </div>
                <h3>Using Attribute directive With HTML Code </h3>
                <div class="col col-12 m-2">
                    <p [style.font-weight]="'bold'">
                        <span wtf2-price-format currencyAmount="55555.89" currencyCode="&#36;" bold></span>
                    </p>
                </div>
                <div class="col col-12 m-2">
                    <p wtf2-price-format currencyAmount="44444.89" currencyCode="&euro;" bold></p>
                </div>
                <div class="col col-12 m-2">
                    <p wtf2-price-format currencyAmount="33333.89" currencyCode="&#165;" bold></p>
                </div>
            </div>
        </wtf2-page-content>
        <!-- / CONTENT -->

        <!-- / CONTENT CARD -->

    <!-- / CENTER -->

</wtf2-page-skeleton>
