<wtf2-page-skeleton fullwidth>

    <!-- TOP BACKGROUND -->

    <!--   -->
    <!-- / TOP BACKGROUND -->
    <!-- SIDEBAR -->
    <!-- / SIDEBAR -->

    <!-- CENTER -->

    <!-- CONTENT HEADER -->
    <wtf2-page-header>
        <wtf2-header-title> Registration Form</wtf2-header-title>
    </wtf2-page-header>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->


    <!-- CONTENT TOOLBAR -->
    <!-- <div class="toolbar px-24 py-8">
            <span>Buttons</span>
        </div> -->
    <!-- / CONTENT TOOLBAR -->

    <!-- CONTENT -->
    <wtf2-page-content class="content ">
        <div class="container-fluid">
            <div class="row m-2">
                <div class="col col-12 pagespacer-px-1">
                    <div class="button-row">
                        <button wtf2-raised-button class="m-2" color="warn" (click)="openDialog()">Fill Information</button>
                    </div>

                </div>
            </div>
        </div>
    </wtf2-page-content>
    <!-- / CONTENT -->

    <!-- / CONTENT CARD -->

    <!-- / CENTER -->

</wtf2-page-skeleton>
