<wtf2-page-skeleton carded fullwidth>
    <!-- TOP BACKGROUND -->

    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->

    <!-- CONTENT HEADER -->
    <wtf2-page-header>
        <wtf2-header-title class=" "> Summernote </wtf2-header-title>
        <wtf2-header-subtitle>Rich text editor</wtf2-header-subtitle>
    </wtf2-page-header>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->

    <!-- CONTENT TOOLBAR -->
    <!-- / CONTENT TOOLBAR -->

    <!-- CONTENT -->
    <wtf2-page-content class="content">
        <div class="container bs-example" page-content-carded>
            <wtf2-editor [config]="editorConfig"></wtf2-editor>
            <!-- <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true"></app-ngx-editor> -->

        </div>

    </wtf2-page-content>
    <!-- / CONTENT -->
    <!-- / CONTENT CARD -->

    <!-- / CENTER -->

</wtf2-page-skeleton>