<div id="error-500" class="wtf2-grey-200-bg d-flex flex-column align-content-center align-items-center justify-content-center">

    <div class="content d-flex flex-column align-content-center align-items-center justify-content-center">

        <div class="error-code">500</div>

        <!-- <div class="message">Well, you broke the internet!</div> -->
        <div class="message">Looks like we have an internal issue, please try again in couple minutes</div>

        <!-- <div class="sub-message">
            Just kidding, looks like we have an internal issue, please try again in couple minutes
        </div> -->

        <a class="back-link" [routerLink]="'/archtype/dashboard'">Go back to dashboard</a>

    </div>

</div>
