<wtf2-toolbar>

    <div class="d-flex flex-row align-content-center justify-content-center align-items-center align-content-sm-center justify-content-sm-between align-items-center">
        <a href="http://desk.sg" target="_blank" wtf2-button class="wtf2-pink-bg d-flex flex-row flex-fill align-content-center justify-content-start align-items-center">
            <wtf2-icon class="s-16 mr-sm-4">shopping_cart</wtf2-icon>
            <span></span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a wtf2-button routerLink="/documentation/getting-started/introduction">Documentation</a>
            <span>&bull;</span>
            <a wtf2-button routerLink="/documentation/changelog">Changelog</a>
        </div>


    </div>

</wtf2-toolbar>
