<wtf2-page-skeleton carded fullwidth>
    <wtf2-page-header>
        <wtf2-header-title > Elevation</wtf2-header-title>
        <wtf2-header-subtitle> Elevation Example</wtf2-header-subtitle>
                <wtf2-Hide-Button>
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#">
                                <img class="img-fluid rounded  mb-md-0" src="http://placehold.it/700x300" alt="">
                            </a>

                        </div>
                        <div class="col-md-5">
                            <h3 class="font-weight-bold">Elevation</h3>
                            <p>Shadows provide important visual cues about objects’ depth and directional
                                movement. They are the only visual cue
                                indicating the amount of separation between surfaces. An object’s elevation
                                determines the appearance of its
                                shadow. The elevation values are mapped out in a “z-space” and range from 0 to
                                24.
                            </p>
                        </div>
                        <p class="m-2 p-3"> A note about “z-space”: Within the spec, elevation is normally
                            referred to as
                            having a dp value. In other words,
                            how many “pixels” above the base material is a piece of material elevated. On a
                            computer, this is normally
                            represented by a 3-d coordinate system. We like z-space (or just “z” for short)
                            because it aligns with the
                            technical definition of, and nomenclature for, a 3-d coordinate system.
                            Therefore, we feel it makes more sense than
                            dp. However, when we refer to z-space (or z), that can be used interchangeably
                            with the spec’s dp.</p>
                    </div>
                </wtf2-Hide-Button>
    </wtf2-page-header>



    <wtf2-page-content class="content">
        <div class="container-fluid p-0 mb-5">
            <h2>Elevations</h2>
            <div class="row justify-content-center">
                <div class="col col-12 col-md-3   wtf2-elevation-z1 elevation-card text-center">
                    .wtf2-elevation-z1
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z2 elevation-card text-center">
                    .wtf2-elevation-z2
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z3 elevation-card text-center">
                    .wtf2-elevation-z3
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z4 elevation-card text-center">
                    .wtf2-elevation-z4
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z5 elevation-card text-center">
                    .wtf2-elevation-z5
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z6 elevation-card text-center">
                    .wtf2-elevation-z6
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z7 elevation-card text-center">
                    .wtf2-elevation-z7
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z8 elevation-card text-center">
                    .wtf2-elevation-z8
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z9 elevation-card text-center">
                    .wtf2-elevation-z9
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z10 elevation-card text-center">
                    .wtf2-elevation-z10
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z11 elevation-card text-center">
                    .wtf2-elevation-z11
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z12 elevation-card text-center">
                    .wtf2-elevation-z12
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z13 elevation-card text-center">
                    .wtf2-elevation-z13
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z14 elevation-card text-center">
                    .wtf2-elevation-z14
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z15 elevation-card text-center">
                    .wtf2-elevation-z15
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z16 elevation-card text-center">
                    .wtf2-elevation-z16
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z17 elevation-card text-center">
                    .wtf2-elevation-z17
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z18 elevation-card text-center">
                    .wtf2-elevation-z18
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z19 elevation-card text-center">
                    .wtf2-elevation-z19
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z20 elevation-card text-center">
                    .wtf2-elevation-z20
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z21 elevation-card text-center">
                    .wtf2-elevation-z21
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z22 elevation-card text-center">
                    .wtf2-elevation-z22
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z23 elevation-card text-center">
                    .wtf2-elevation-z23
                </div>
                <div class="col col-12 col-md-3   wtf2-elevation-z24 elevation-card text-center">
                    .wtf2-elevation-z24
                </div>
            </div>
        </div>
        <div class="container-fluid">

        </div>
    </wtf2-page-content>
</wtf2-page-skeleton>
