<wtf2-page-skeleton carded fullwidth>

    <!-- TOP BACKGROUND -->

    <!--   -->
    <!-- / TOP BACKGROUND -->
    <!-- SIDEBAR -->

    <!-- / SIDEBAR -->

    <!-- CENTER -->

    <!-- CONTENT HEADER -->
    <wtf2-page-header>
        <wtf2-header-title class=" "> Search </wtf2-header-title>
        <wtf2-header-subtitle> Search Example</wtf2-header-subtitle>
    </wtf2-page-header>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->

    <!-- CONTENT TOOLBAR -->
    <!-- <div class="toolbar px-24 py-8">
                <span>Checkbox</span>
            </div> -->
    <!-- / CONTENT TOOLBAR -->

    <!-- CONTENT -->
    <wtf2-page-content class="content">
        <div class="row m-2" page-content-carded>
            <div class="col-sm-6 mb-4">
                <wtf2-card>
                    <div class="m-4">
                        <wtf2-card-subtitle>
                            Rotate layout
                        </wtf2-card-subtitle>
                        <wtf2-card-content>
                            <button (click)="searchopen()" searchType="rotate-layout"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </wtf2-card-content>
                    </div>
                </wtf2-card>
            </div>
            <!-- <div class="col-sm-6 mb-4">
                <wtf2-card>
                    <div class="m-4">
                        <wtf2-card-subtitle>
                            Full Model Layout
                        </wtf2-card-subtitle>
                        <wtf2-card-content>
                            <button (click)="searchopen()" searchType="model-full"><i class="fa fa-search " aria-hidden="true"></i></button>
                        </wtf2-card-content>
                    </div>
                </wtf2-card>
            </div> -->
        </div>
    </wtf2-page-content>
    <!-- / CONTENT -->

    <!-- / CONTENT CARD -->

    <!-- / CENTER -->

</wtf2-page-skeleton>
