.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-option-img {
    margin-right: 8px;
    vertical-align: middle;
}

[dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
}
 .wtf2-form-field {
     width: 100%;
 }