<wtf2-page-skeleton carded fullwidth>

    <!-- TOP BACKGROUND -->

    <!--   -->
    <!-- / TOP BACKGROUND -->
    <!-- SIDEBAR -->
    <!-- / SIDEBAR -->

    <!-- CENTER -->

    <!-- CONTENT HEADER -->
    <wtf2-page-header>
        <wtf2-header-title class=" "> Button</wtf2-header-title>
        <wtf2-header-subtitle> Button Example</wtf2-header-subtitle>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima distinctio quia blanditiis, ad, adipisci
            soluta quis unde iure ullam, quo harum fuga perspiciatis pariatur! Quia obcaecati, molestias alias
            similique perspiciatis architecto illo
            omnis voluptate vel tempore dolores, mollitia voluptates dolorum nesciunt laudantium, sint perferendis
            incidunt? Nesciunt voluptates reprehenderit aliquid fuga provident, maxime sunt nihil maiores iure sit
            odit culpa optio id ab distinctio
            nam expedita eos necessitatibus! Obcaecati quam voluptatibus at eveniet. Corporis neque eveniet quod
            debitis quasi explicabo ea nostrum iure suscipit perspiciatis sapiente voluptatum facere nobis
            molestias laborum alias, veritatis sunt
            maxime libero repellendus aliquam odit? Quasi, nulla. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Iusto eligendi doloribus, sapiente architecto temporibus molestiae dolores nobis
            similique molestias magnam quae eveniet accusamus
            deserunt inventore unde non asperiores cum beatae repellat, et porro assumenda laboriosam corrupti?
            Minima numquam facilis officiis accusamus veniam? Inventore doloremque dolore ullam placeat repudiandae
            eum voluptates ex alias pariatur,
            explicabo incidunt vero nulla mollitia voluptas facilis? Aliquid sit vel consectetur quae ab, animi
            magni repellendus sequi distinctio cupiditate quaerat qui assumenda repellat similique beatae velit aut
            harum accusantium natus! Facilis
            repudiandae, amet eligendi quod perferendis veritatis nam doloribus corporis mollitia, harum, porro
            quisquam accusantium? Quae, facilis.
        </p>
    </wtf2-page-header>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->


    <!-- CONTENT TOOLBAR -->
    <!-- <div class="toolbar px-24 py-8">
            <span>Buttons</span>
        </div> -->
    <!-- / CONTENT TOOLBAR -->

    <!-- CONTENT -->
    <wtf2-page-content class="content ">
        <div class="container-fluid">
            <div class="row m-2">
                <div class="col col-12 pagespacer-px-1">
                    <h3>Basic Buttons</h3>
                    <div class="button-row">
                        <button wtf2-button class="m-2">Basic</button>
                        <button wtf2-button class="m-2" color="primary">Primary</button>
                        <button wtf2-button class="m-2" color="accent">Accent</button>
                        <button wtf2-button class="m-2" color="warn">Warn</button>
                        <button wtf2-button class="m-2" disabled>Disabled</button>
                        <a wtf2-button class="m-2" routerLink=".">Link</a>
                    </div>

                    <h3>Raised Buttons</h3>
                    <div class="button-row">
                        <button wtf2-raised-button class="m-2">Basic</button>
                        <button wtf2-raised-button class="m-2" color="primary">Primary</button>
                        <button wtf2-raised-button class="m-2" color="accent">Accent</button>
                        <button wtf2-raised-button class="m-2" color="warn">Warn</button>
                        <button wtf2-raised-button class="m-2" disabled>Disabled</button>
                        <a wtf2-raised-button class="m-2" routerLink=".">Link</a>
                    </div>

                    <h3>Icon Buttons</h3>
                    <div class="button-row">
                        <button wtf2-icon-button class="m-2">
                            <wtf2-icon aria-label="Example icon-button with a heart icon">favorite</wtf2-icon>
                        </button>
                        <button wtf2-icon-button class="m-2" color="primary">
                            <wtf2-icon aria-label="Example icon-button with a heart icon">favorite</wtf2-icon>
                        </button>
                        <button wtf2-icon-button class="m-2" color="accent">
                            <wtf2-icon aria-label="Example icon-button with a heart icon">favorite</wtf2-icon>
                        </button>
                        <button wtf2-icon-button class="m-2" color="warn">
                            <wtf2-icon aria-label="Example icon-button with a heart icon">favorite</wtf2-icon>
                        </button>
                        <button wtf2-icon-button class="m-2" disabled>
                            <wtf2-icon aria-label="Example icon-button with a heart icon">favorite</wtf2-icon>
                        </button>
                    </div>

                        <h3>Mini Fab Buttons</h3>
                        <div class="button-row">
                            <button wtf2-mini-fab class="m-2">Basic</button>
                            <button wtf2-mini-fab class="m-2" color="primary">Primary</button>
                            <button wtf2-mini-fab class="m-2" color="accent">Accent</button>
                            <button wtf2-mini-fab class="m-2" color="warn">Warn</button>
                            <button wtf2-mini-fab class="m-2" disabled>Disabled</button>
                            <button wtf2-mini-fab class="m-2">
                                <wtf2-icon aria-label="Example icon-button with a heart icon">favorite</wtf2-icon>
                            </button>
                            <a wtf2-mini-fab class="m-2" routerLink=".">Link</a>
                        </div>
                        

                    <h3>Mini Fab Buttons</h3>
                    <div class="button-row">
                        <button wtf2-mini-fab class="m-2">Basic</button>
                        <button wtf2-mini-fab class="m-2" color="primary">Primary</button>
                        <button wtf2-mini-fab class="m-2" color="accent">Accent</button>
                        <button wtf2-mini-fab class="m-2" color="warn">Warn</button>
                        <button wtf2-mini-fab class="m-2" disabled>Disabled</button>
                        <button wtf2-mini-fab class="m-2">
                            <wtf2-icon aria-label="Example icon-button with a heart icon">favorite</wtf2-icon>
                        </button>
                        <a wtf2-mini-fab class="m-2" routerLink=".">Link</a>
                    </div>
                    <h3>Split Buttons</h3>
                        <div class="button-row">
                            <wtf2-split-button class="m-2" title="Primary" (onClick)="openTest()" color="primary">
                                <button wtf2-menu-item (click)="openTest()">Item 1</button>
                                <button wtf2-menu-item (click)="openTest()">Item 2</button>
                                <button wtf2-menu-item (click)="openTest()">Item 3</button>
                                <button wtf2-menu-item (click)="openTest()">Item 4</button>
                            </wtf2-split-button>
                            <wtf2-split-button class="m-2" title="Warn" (onClick)="openTestWarn()" color="warn">
                                <button wtf2-menu-item (click)="openTest()">Item 1</button>
                                <button wtf2-menu-item (click)="openTest()">Item 2</button>
                                <button wtf2-menu-item (click)="openTest()">Item 3</button>
                                <button wtf2-menu-item (click)="openTest()">Item 4</button>
                            </wtf2-split-button>
                            <wtf2-split-button class="m-2"  (onClick)="openTestAccent()" color="accent">
                                <wtf2-split-button-title>
                                    <wtf2-icon>
                                        <wtf2-spinner diameter="20"></wtf2-spinner>
                                    </wtf2-icon>
                                    Accent</wtf2-split-button-title>
                                <button wtf2-menu-item (click)="openTest()">Item 1</button>
                                <button wtf2-menu-item (click)="openTest()">Item 2</button>
                                <button wtf2-menu-item (click)="openTest()">Item 3</button>
                                <button wtf2-menu-item (click)="openTest()">Item 4</button>
                            </wtf2-split-button>
                            <wtf2-split-button class="m-2 wtf2-grey-900-bg" title="Basic" (onClick)="openTestAccent()" color="green">
                                <button wtf2-menu-item (click)="openTest()">Item 1</button>
                                <button wtf2-menu-item (click)="openTest()">Item 2</button>
                                <button wtf2-menu-item (click)="openTest()">Item 3</button>
                                <button wtf2-menu-item (click)="openTest()">Item 4</button>
                            </wtf2-split-button>
                            <wtf2-split-button class="m-2 " title="Disabled" (onClick)="openTestAccent()" color="basic" [disabled]="true">
                                <button wtf2-menu-item (click)="openTest()">Item 1</button>
                                <button wtf2-menu-item (click)="openTest()">Item 2</button>
                                <button wtf2-menu-item (click)="openTest()">Item 3</button>
                                <button wtf2-menu-item (click)="openTest()">Item 4</button>
                            </wtf2-split-button>
                    </div>
                </div>
            </div>
        </div>
    </wtf2-page-content>
    <!-- / CONTENT -->

    <!-- / CONTENT CARD -->

    <!-- / CENTER -->

</wtf2-page-skeleton>
