<wtf2-page-skeleton carded left_sidebar>
    <!-- TOP BACKGROUND -->
    <!-- / TOP BACKGROUND -->
    <!-- CONTENT HEADER -->
    <wtf2-page-header>
        <wtf2-header-title class=" ">Left Sidebar Scroll Spy with Carded Page</wtf2-header-title>
        <wtf2-header-subtitle>Left Sidebar Scroll Spy with Carded Page Example</wtf2-header-subtitle>
    </wtf2-page-header>

    <wtf2-sidebar class="sidebar" name="sidebar-wrapper" position="left" lockedOpen="gt-sm">
        <!-- SIDEBAR HEADER -->
        <wtf2-page-header>
            <wtf2-header-title class=" ">Sidebar Header</wtf2-header-title>
            <wtf2-header-subtitle>Header Subtitle</wtf2-header-subtitle>
        </wtf2-page-header>
        <!-- / SIDEBAR HEADER -->
        <!-- SIDEBAR CONTENT -->
        <div class="content">
            <div class="demo-sidebar">
                <wtf2-list>
                    <h3 wtf2Subheader>Sidebar Demo</h3>

                    <wtf2-list-item>
                        <span>Sidebar Item 1</span>
                    </wtf2-list-item>
                    <wtf2-divider></wtf2-divider>

                    <wtf2-list-item>
                        <span>Sidebar Item 2</span>
                    </wtf2-list-item>
                    <wtf2-divider></wtf2-divider>

                    <wtf2-list-item>
                        <span>Sidebar Item 3</span>
                    </wtf2-list-item>
                    <wtf2-divider></wtf2-divider>

                    <wtf2-list-item>
                        <span>Sidebar Item 4</span>
                    </wtf2-list-item>
                    <wtf2-divider></wtf2-divider>

                    <wtf2-list-item>
                        <span>Sidebar Item 5</span>
                    </wtf2-list-item>
                    <wtf2-divider></wtf2-divider>

                    <wtf2-list-item>
                        <span>Sidebar Item 6</span>
                    </wtf2-list-item>
                    <wtf2-divider></wtf2-divider>

                    <wtf2-list-item>
                        <span>Sidebar Item 7</span>
                    </wtf2-list-item>
                    <wtf2-divider></wtf2-divider>

                    <wtf2-list-item>
                        <span>Sidebar Item 8</span>
                    </wtf2-list-item>
                    <wtf2-divider></wtf2-divider>

                    <wtf2-list-item>
                        <span>Sidebar Item 9</span>
                    </wtf2-list-item>
                    <wtf2-divider></wtf2-divider>

                    <wtf2-list-item>
                        <span>Sidebar Item 10</span>
                    </wtf2-list-item>
                    <wtf2-divider></wtf2-divider>

                    <wtf2-list-item>
                        <span>Sidebar Item 11</span>
                    </wtf2-list-item>
                    <wtf2-divider></wtf2-divider>

                    <wtf2-list-item>
                        <span>Sidebar Item 12</span>
                    </wtf2-list-item>
                    <wtf2-divider></wtf2-divider>
                </wtf2-list>
            </div>
        </div>
        <!-- / SIDEBAR CONTENT -->
    </wtf2-sidebar>

    <wtf2-page-content class="content">
        <!-- SIDEBAR -->
        <div wtf2PerfectScrollbar>

        </div>
        <!-- / SIDEBAR -->

        <div class="demo-content">
            <div class="container-fluid">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit tenetur qui quidem porro
                    saepe,
                    dignissimos, quo fuga, ut esse ex aspernatur quos? Porro eum fugiat facere, iusto provident
                    perspiciatis ut!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere autem possimus amet nisi
                    porro
                    at nam
                    consequuntur, doloribus aliquam beatae placeat distinctio fugit vero eum alias ex aliquid
                    exercitationem natus nihil voluptatum velit reprehenderit temporibus. Minus obcaecati
                    alias, in
                    veniam
                    aspernatur est! Repellendus sed, consequuntur doloremque amet dolores non, harum pariatur
                    quos
                    velit,
                    porro eius.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit animi ab illo? Sint,
                    dolor a!
                    Ex neque modi cupiditate! Debitis deserunt cupiditate in veniam omnis laborum voluptatibus
                    laudantium
                    non at.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit animi ab illo? Sint,
                    dolor a!
                    Ex neque modi cupiditate! Debitis deserunt cupiditate in veniam omnis laborum voluptatibus
                    laudantium
                    non at.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt doloremque odit ipsa quo
                    blanditiis
                    ut voluptatibus atque perferendis numquam optio nisi accusamus sed labore a commodi,
                    tempora
                    accusantium eaque maiores id, autem molestiae? Eaque, veritatis incidunt delectus adipisci
                    quaerat nam
                    odio fuga dolores temporibus? Libero amet eveniet sit error ullam similique assumenda atque
                    nesciunt
                    corrupti voluptatibus. Id incidunt nobis totam similique iste hic itaque consectetur.
                    Dignissimos
                    voluptatem consequatur fuga, error nam explicabo asperiores in laudantium corporis
                    blanditiis
                    numquam
                    officia laborum quo labore hic neque cumque ratione temporibus consectetur eum ad dicta.
                    Repellendus
                    blanditiis molestiae placeat incidunt quasi voluptatibus accusamus atque?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae commodi doloribus
                    laborum,
                    quisquam
                    nesciunt sunt! Facere minima modi neque rerum, exercitationem quidem, eos quas, distinctio
                    facilis cum
                    nemo consequuntur? Praesentium, at quam labore quasi delectus, sint animi, iusto hic dolore
                    qui
                    odio
                    rem eligendi voluptate! Praesentium nihil neque quibusdam saepe totam sapiente cumque
                    architecto!
                    Tempora nobis error nihil quas atque ab. Facere perspiciatis voluptatem nobis est quaerat,
                    illum
                    nesciunt repudiandae nemo beatae sapiente quisquam non, suscipit tenetur itaque doloremque
                    a!
                    Mollitia
                    ipsam totam dolores reprehenderit, expedita cumque aut eius qui magnam omnis animi quidem
                    in
                    doloremque
                    laudantium. Dolore officiis earum id aut excepturi amet magni veritatis inventore laborum
                    aliquam quas,
                    vero rerum. Odio sequi molestiae fugit assumenda consequuntur consectetur dolor, dicta
                    omnis
                    corrupti
                    laborum quibusdam soluta eius possimus nam, eum aut corporis veritatis ex eaque vero amet
                    recusandae.
                    Vero nam dicta exercitationem incidunt deleniti est enim ipsa quibusdam culpa voluptatum!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt doloremque odit ipsa quo
                    blanditiis
                    ut voluptatibus atque perferendis numquam optio nisi accusamus sed labore a commodi,
                    tempora
                    accusantium eaque maiores id, autem molestiae? Eaque, veritatis incidunt delectus adipisci
                    quaerat nam
                    odio fuga dolores temporibus? Libero amet eveniet sit error ullam similique assumenda atque
                    nesciunt
                    corrupti voluptatibus. Id incidunt nobis totam similique iste hic itaque consectetur.
                    Dignissimos
                    voluptatem consequatur fuga, error nam explicabo asperiores in laudantium corporis
                    blanditiis
                    numquam
                    officia laborum quo labore hic neque cumque ratione temporibus consectetur eum ad dicta.
                    Repellendus
                    blanditiis molestiae placeat incidunt quasi voluptatibus accusamus atque?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae commodi doloribus
                    laborum,
                    quisquam
                    nesciunt sunt! Facere minima modi neque rerum, exercitationem quidem, eos quas, distinctio
                    facilis cum
                    nemo consequuntur? Praesentium, at quam labore quasi delectus, sint animi, iusto hic dolore
                    qui
                    odio
                    rem eligendi voluptate! Praesentium nihil neque quibusdam saepe totam sapiente cumque
                    architecto!
                    Tempora nobis error nihil quas atque ab. Facere perspiciatis voluptatem nobis est quaerat,
                    illum
                    nesciunt repudiandae nemo beatae sapiente quisquam non, suscipit tenetur itaque doloremque
                    a!
                    Mollitia
                    ipsam totam dolores reprehenderit, expedita cumque aut eius qui magnam omnis animi quidem
                    in
                    doloremque
                    laudantium. Dolore officiis earum id aut excepturi amet magni veritatis inventore laborum
                    aliquam quas,
                    vero rerum. Odio sequi molestiae fugit assumenda consequuntur consectetur dolor, dicta
                    omnis
                    corrupti
                    laborum quibusdam soluta eius possimus nam, eum aut corporis veritatis ex eaque vero amet
                    recusandae.
                    Vero nam dicta exercitationem incidunt deleniti est enim ipsa quibusdam culpa voluptatum!</p>
                <p>Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Minima distinctio quia blanditiis, ad,
                    adipisci
                    soluta quis unde iure ullam, quo harum fuga perspiciatis pariatur! Quia obcaecati,
                    molestias
                    alias
                    similique perspiciatis architecto illo omnis voluptate vel tempore dolores, mollitia
                    voluptates
                    dolorum nesciunt laudantium, sint perferendis incidunt? Nesciunt voluptates reprehenderit
                    aliquid
                    fuga provident, maxime sunt nihil maiores iure sit odit culpa optio id ab distinctio nam
                    expedita
                    eos necessitatibus! Obcaecati quam voluptatibus at eveniet. Corporis neque eveniet quod
                    debitis
                    quasi explicabo ea nostrum iure suscipit perspiciatis sapiente voluptatum facere nobis
                    molestias
                    laborum alias, veritatis sunt maxime libero repellendus aliquam odit? Quasi, nulla.</p>
            </div>
        </div>

    </wtf2-page-content>
    <!-- / CONTENT HEADER -->

</wtf2-page-skeleton>
