<wtf2-page-skeleton simple fullwidth>

    <div class="center page-skeleton-wrapper">
        <wtf2-page-header>
            <wtf2-header-title> Pie Chart</wtf2-header-title>
            <wtf2-header-subtitle> Pie chart</wtf2-header-subtitle>
        </wtf2-page-header>

        <div class="content-card ">
            <wtf2-page-content class="content">
                <div class="row">
                    <div class="col-md-6 my-4">
                        <wtf2-card>
                            <wtf2-card-header>
                                <wtf2-card-title> Pie </wtf2-card-title>
                            </wtf2-card-header>
                            <wtf2-divider></wtf2-divider>
                            <wtf2-card-content>
                                <canvas id="piecanvas"></canvas>
                            </wtf2-card-content>
                        </wtf2-card>
                    </div>
                    <div class="col-md-6 my-4">
                        <wtf2-card>
                            <wtf2-card-header>
                                <wtf2-card-title> Donut</wtf2-card-title>
                            </wtf2-card-header>
                            <wtf2-divider></wtf2-divider>
                            <wtf2-card-content>
                                <canvas id="donutcanvas"></canvas>
                            </wtf2-card-content>
                        </wtf2-card>
                    </div>
                </div>
            </wtf2-page-content>
        </div>
    </div>
</wtf2-page-skeleton>