<wtf2-page-skeleton simple fullwidth>

    <!-- TOP BACKGROUND -->

    <!-- / TOP BACKGROUND -->
    <!-- SIDEBAR -->

    <!-- / SIDEBAR -->

    <!-- CENTER -->

        <!-- CONTENT HEADER -->
        <wtf2-page-header>
            <wtf2-header-title class=" "> Carousel</wtf2-header-title>
            <wtf2-header-subtitle> Carousel Example</wtf2-header-subtitle>
        </wtf2-page-header>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <!-- <div class="content-card"> -->

        <!-- CONTENT TOOLBAR -->
        <!-- <div class="toolbar px-24 py-8">
                <span>Inform Expander</span>
            </div> -->
        <!-- / CONTENT TOOLBAR -->

        <!-- CONTENT -->
        <wtf2-page-content class="content">
            <div class="row">
                <div class="col">
                    <wtf2-card>
                        <h3>Vertical Carousel</h3>
                        <slideshow [imageUrls]="imageUrls" [height]="height" [minHeight]="minHeight" [disableSwiping]="disableSwiping"
                            [stopAutoPlayOnSlide]="stopAutoPlayOnSlide" [debug]="debug" [backgroundSize]="backgroundSize"
                            [backgroundPosition]="backgroundPosition" [backgroundRepeat]="backgroundRepeat" [showDots]="showDots"
                            [dotColor]="dotColor" [showCaptions]="showCaptions" [captionColor]="captionColor"
                            [captionBackground]="captionBackground" [lazyLoad]="lazyLoad" [hideOnNoSlides]="hideOnNoSlides"
                            [fullscreen]="fullscreen" [direction]="direction">
                        </slideshow>
                    </wtf2-card>
                </div>
            </div>
            <wtf2-divider class="mt-5"></wtf2-divider>
            <div>
                <wtf2-card>
                    <h3>Horizontal Carousel</h3>
                    <slideshow [imageUrls]="imageUrls" [height]="height" [minHeight]="minHeight" [disableSwiping]="disableSwiping"
                        [stopAutoPlayOnSlide]="stopAutoPlayOnSlide" [debug]="debug" [backgroundSize]="backgroundSize"
                        [backgroundPosition]="backgroundPosition" [backgroundRepeat]="backgroundRepeat" [showDots]="showDots"
                        [dotColor]="dotColor" [showCaptions]="showCaptions" [captionColor]="captionColor"
                        [captionBackground]="captionBackground" [lazyLoad]="lazyLoad" [hideOnNoSlides]="hideOnNoSlides"
                        [fullscreen]="fullscreen">
                    </slideshow>
                </wtf2-card>
            </div>
        </wtf2-page-content>
        <!-- / CONTENT -->
        <!-- </div> -->
        <!-- / CONTENT CARD -->

    <!-- / CENTER -->
</wtf2-page-skeleton>
