<wtf2-page-skeleton carded fullwidth>


        <wtf2-page-header>

            <wtf2-header-title>Status Quote</wtf2-header-title>

            <wtf2-header-subtitle> Your Deskera Cloud Account </wtf2-header-subtitle>

        </wtf2-page-header>


            <wtf2-page-content>
                <wtf2-page-heading>Block Quote</wtf2-page-heading>
                <div class="row mb-4">
                    <div class="col-sm-6 mb-4">

                        <!-- <wtf2-card class="wtf2-grey-300-bg"> -->
                        <wtf2-card>


                            <wtf2-quote left color="red" class="quote-demo">Card one</wtf2-quote>
                            <!-- Card one -->
                            <!-- </wtf2-card-subtitle> -->
                            <wtf2-card-content>
                                This is card one
                            </wtf2-card-content>
                            <wtf2-quote left color="green" class="quote-demo">Sample</wtf2-quote>

                        </wtf2-card>
                    </div>
                    <div class="col-sm-6 mb-4">
                        <wtf2-card>
                            <wtf2-quote right color="pink" class="quote-demo-right">Sample</wtf2-quote>

                            <wtf2-quote right color="blue" class="quote-demo-right">No of collections.</wtf2-quote>
                            <wtf2-card-subtitle>
                                Card Two
                            </wtf2-card-subtitle>
                            <wtf2-card-content>
                                This is card Two
                            </wtf2-card-content>

                        </wtf2-card>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-6 mb-4">

                        <wtf2-card>

                            <wtf2-card-subtitle>
                                Card Three
                            </wtf2-card-subtitle>
                            <wtf2-card-content>
                                This is card Three
                            </wtf2-card-content>

                            <wtf2-quote left color="blue" class="quote-demo">Sample</wtf2-quote>

                        </wtf2-card>
                    </div>
                    <div class="col-sm-6 mb-4">
                        <wtf2-card>
                            <wtf2-card-subtitle>
                                Card Four
                            </wtf2-card-subtitle>
                            <wtf2-card-content>
                                This is card Four
                            </wtf2-card-content>
                            <wtf2-quote right color="red" class="quote-demo-right">Sample</wtf2-quote>

                        </wtf2-card>

                    </div>
                </div>


            </wtf2-page-content>



</wtf2-page-skeleton>
