wtf2-table {
    width: 100%;



    // for overriding grid styles for headers and cells
    .wtf2-header-cell {

        &:first-of-type {
            max-width: 10%;
        }

        &:last-of-type {
            max-width: 3%;
        }
    }

    .wtf2-cell {
        &:first-of-type {
            max-width: 10%;
        }

        &:last-of-type {
            overflow: visible;
            max-width: 3%;
        }
    }

}
