<div id="error-404" class="wtf2-grey-200-bg d-flex flex-column align-content-center align-items-center justify-content-center">

<div class="content d-flex flex-column align-content-center align-items-center justify-content-center">

        <div class="error-code">404</div>

        <div class="message">Sorry but we could not find the page you are looking for</div>

        <!-- <div class="search" fxLayout="row" fxLayoutAlign="start center">
            <wtf2-icon class="icon s-24">search</wtf2-icon>
            <input placeholder="Search for anything" fxFlex>
        </div> -->

        <a class="back-link" [routerLink]="'/apps/dashboards/project'">Go back to dashboard</a>

    </div>

</div>