<wtf2-page-skeleton carded fullwidth>
    <!-- CENTER -->
    <!-- CONTENT HEADER -->
    <!-- <wtf2-page-header></wtf2-page-header> -->

    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <wtf2-page-header>
        <wtf2-header-title class=" "> Carded Layout Full Width and Default Scroll</wtf2-header-title>
        <wtf2-header-subtitle> Carded Layout Full Width and Default Scroll Example</wtf2-header-subtitle>
    </wtf2-page-header>

    <!-- CONTENT -->

    <wtf2-page-content class="content">
        <div page-content-carded>

            <div class="">
                <img src="https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    alt="beach" style="width: 100%;">
            </div>

            <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aspernatur fugiat molestias
                sapiente, ea repellendus consectetur. Explicabo neque ad, numquam velit alias nihil! Quis voluptate
                incidunt asperiores minus neque suscipit itaque at ipsa placeat, culpa consequatur vitae amet
                voluptatum doloribus inventore voluptatibus. Corrupti id maiores inventore sed, tempora dolore quo
                excepturi modi non voluptatem magnam laborum aspernatur quis repudiandae eos. Numquam nam quod
                tempore similique culpa sequi quos. Voluptates quis ad rerum velit sint animi nemo, sunt omnis
                quidem dicta? Sit veritatis quibusdam eos! Saepe illo ut minus! Veritatis neque iste repellat illum
                nulla ad tenetur rem quibusdam, itaque suscipit sit saepe repellendus enim minus tempora
                consequatur nemo. Accusamus odio maxime quibusdam? Error mollitia inventore corrupti obcaecati!
                Nesciunt, harum officia sunt voluptatem consequatur excepturi odio repellendus iste adipisci sed
                ipsum repudiandae delectus atque. Ad quos neque dolores ex magni deserunt dicta cum quisquam quo
                iste voluptatem nobis, maxime laboriosam nemo sapiente laudantium alias voluptas assumenda iusto
                earum. Placeat perferendis minus voluptates repudiandae tempora repellat, necessitatibus rem
                perspiciatis quae, quaerat, facere nobis maiores ipsum! Minus saepe, unde quas dignissimos sint in
                voluptates earum voluptatibus reprehenderit harum? Rem iusto est sit veritatis reprehenderit at ea
                mollitia modi consequuntur laboriosam aspernatur dicta minus suscipit, autem quasi nemo doloribus
                facere quaerat corporis voluptas impedit libero neque. Voluptatum dolores, accusantium laudantium
                magnam iure, totam alias eum molestiae at omnis ratione illum dolorum! Nesciunt, alias deserunt.
                Quo modi enim nostrum id, architecto beatae ad eos dignissimos ullam dolor illum totam labore?
                Explicabo nobis inventore consequatur voluptates excepturi veritatis reprehenderit, placeat neque
                deserunt eligendi ad perferendis quisquam nam cupiditate laboriosam id! Porro facilis voluptatum
                repellendus dignissimos nesciunt. Deleniti vero tempora et cumque. Delectus tempora nobis vitae
                repellendus consectetur sint consequatur, error porro quam impedit maxime aperiam voluptates
                expedita! In, veritatis. Omnis id dolor hic. Obcaecati, beatae eveniet.
            </div>
        </div>

        <!-- / CONTENT -->
    </wtf2-page-content>

    <!-- / CONTENT CARD -->

    <!-- / CENTER -->

</wtf2-page-skeleton>
