<wtf2-page-skeleton simple fullwidth>
    <!-- CENTER -->
    <!-- CONTENT HEADER -->
        <!-- <wtf2-page-header></wtf2-page-header> -->
        <wtf2-page-header>
            <wtf2-header-title class=" "> Simple Full Width </wtf2-header-title>
            <wtf2-header-subtitle> Simple Full Width Example</wtf2-header-subtitle>
        </wtf2-page-header>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->

            <!-- CONTENT -->

            <wtf2-page-content wtf2Class="content" wtf2-simple-fullwidth-layout>

                <!-- DEMO CONTENT -->
                <div class="demo-content" page-content-simple-fullwidth>
                    <div class="">
                        <img src="https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                            alt="beach" style="width: 100%;">
                    </div>

                    <div class="">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam facilis dolorem quae, sint
                        quia minima nemo qui sed? Dolorum officiis doloremque quod, excepturi consequatur molestias rem
                        facilis optio quae rerum odit omnis minima accusamus ipsam unde illo! Consectetur repellat
                        aliquam
                        quisquam illo ab excepturi voluptatem voluptatibus similique est eaque vero tenetur obcaecati
                        voluptate rem libero laborum, saepe assumenda quasi ipsum animi ad. Ut deleniti ipsum modi
                        perferendis eius quia ipsam unde deserunt, dolorem odit accusantium quam accusamus illum et
                        harum
                        sequi quae minus quos blanditiis suscipit. Autem, minus saepe dicta magni doloribus corporis
                        temporibus quaerat id adipisci sint ipsum rem sequi cupiditate? Modi ipsa fugiat voluptate
                        recusandae tempore distinctio incidunt reprehenderit earum in aperiam soluta officia cum
                        voluptatibus voluptas eius sapiente blanditiis labore adipisci sit eveniet consectetur
                        praesentium,
                        explicabo quos similique! Saepe placeat incidunt animi labore dolorum assumenda totam quos
                        error,
                        iusto iure vero, eaque vel iste sapiente nesciunt optio dolore aperiam explicabo. Omnis ratione
                        consectetur voluptates voluptatum, perferendis dignissimos doloremque architecto labore,
                        officia
                        atque repellendus culpa optio porro voluptas doloribus ducimus maiores? Tempora eaque mollitia
                        velit aperiam? Nisi illo quia laboriosam eius, voluptatem quasi hic, error soluta sunt officiis
                        nobis accusamus doloremque id qui impedit minima itaque odio ipsa. Eaque minima dolorum
                        obcaecati
                        mollitia, enim aliquam atque, nam repellendus alias, ipsam sapiente? Culpa, maiores! Autem
                        adipisci, deserunt reprehenderit quo eius beatae et, delectus, dolorem quod consectetur omnis
                        quam
                        incidunt. Quis eveniet aliquid facilis aliquam veritatis nulla voluptate provident. Cupiditate
                        at
                        consequatur nostrum mollitia vel, commodi atque impedit esse provident maiores eum vero tempora
                        repudiandae ducimus saepe numquam vitae amet hic rerum accusamus dignissimos labore quia? Nam
                        non,
                        aspernatur explicabo accusamus dolor enim, modi deserunt maxime possimus consequatur aliquid,
                        ratione et at! Omnis neque necessitatibus nobis ad quo commodi dolores temporibus ipsum hic
                        vitae.
                        Tenetur adipisci, deserunt provident inventore esse quos voluptate recusandae aperiam, ipsum
                        placeat expedita, quae quibusdam quis porro ut voluptatibus iusto illum consequuntur.
                        Consequuntur
                        deserunt pariatur veniam illum eligendi, tenetur corrupti dolore ut obcaecati libero ex natus
                        eum
                        nemo voluptas earum quasi laboriosam quae, inventore minima odit accusantium? Ducimus eius eos
                        amet
                        quam. Eos ratione cum odit blanditiis pariatur vitae et quidem incidunt, rem eius at officia,
                        molestias omnis ad, delectus excepturi alias quas corrupti rerum voluptatem magnam
                        necessitatibus
                        illo velit! Eligendi, maxime. Harum quidem pariatur beatae cumque accusamus quos excepturi
                        culpa
                        nesciunt temporibus ducimus! Magnam tempore deserunt laudantium. Vel, earum. Eligendi
                        repellendus
                        suscipit nam beatae rem?
                    </div>
                </div>
                <!-- / DEMO CONTENT -->

            </wtf2-page-content>
            <!-- / CONTENT -->

        <!-- / CONTENT CARD -->
    <!-- / CENTER -->

</wtf2-page-skeleton>
