<wtf2-page-skeleton carded fullwidth>
        <wtf2-page-header>
            <wtf2-header-title class=" ">Spinner Demo</wtf2-header-title>
            <wtf2-header-subtitle>Spinner sample with different options</wtf2-header-subtitle>
        </wtf2-page-header>

        <wtf2-page-content class="content">
            <div page-content-carded>

                <wtf2-page-heading large>Spinner Properties</wtf2-page-heading>
                <div class="row pl-4 pb-4">
                    <div class="col col-3">
                        <h3>Stroke Width</h3>
                        <wtf2-spinner strokeWidth="30"></wtf2-spinner>
                    </div>
                    <div class="col col-3">
                        <h3>Color</h3>
                        <wtf2-spinner color="accent"></wtf2-spinner>
                    </div>
                    <div class="col col-3">
                        <h3>Diameter</h3>
                        <wtf2-spinner diameter="150"></wtf2-spinner>
                    </div>
                </div>

                <wtf2-page-heading large>Spinner Type (wtf2-spinner)</wtf2-page-heading>
                <div class="row pl-4 pb-4">
                    <div class="col col-3">
                        <h3>Indeterminate</h3>
                        <wtf2-spinner></wtf2-spinner>
                    </div>
                    <div class="col col-3">
                        <h3>Determinate (always comes with value key)</h3>
                        <wtf2-spinner mode="determinate" value="40"></wtf2-spinner>
                    </div>
                </div>

                <wtf2-page-heading large>Spinner with Basic CSS</wtf2-page-heading>
                <div class="row pl-4">
                    <div class="col col-1">
                        <h3>CSS</h3>
                        <div class="spinner-wrapper">
                            <div class="spinner">
                                <div class="inner">
                                    <div class="gap"></div>
                                    <div class="left">
                                        <div class="half-circle"></div>
                                    </div>
                                    <div class="right">
                                        <div class="half-circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </wtf2-page-content>
</wtf2-page-skeleton>
